

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://w0.peakpx.com/wallpaper/18/445/HD-wallpaper-manhattan-beach-sunset-city-water-usa-trees-street-sea.jpg);">
  <div class="container"style="margin-top: -20px;">
    <h1>View <strong>flats to rent</strong> for your <strong>perfect holiday!</strong></h1>
  </div>
</div>

<div class="index-container" >
  <div class="grid-list column">
    <% @flats.each do |flat| %>
      <% if flat.photo.present? %>
       <%= link_to flat_path(flat) do%>
        <div class="hover back_images" style="background-image: url('<%= cl_image_path flat.photo.key %>')">
        <p class="city-name hidden fade-in"><%= flat.city %></p>
        </div>
        <% end %>
      <% else %>
        <%= link_to flat_path(flat) do %>
        <div class="back_images" style="background-image: url('<%= image_path "logo.png" %>')">
         </div>
          <% end %>
      <% end %>
    <% end %>
  </div>
  <div id="map" class="column" style="width: 100%; height: 90vh;" data-controller="map"  data-map-markers-value="<%= @markers.to_json %>"  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<script>
  const backImages = document.querySelectorAll('.back_images');

  backImages.forEach((backImage) => {
    backImage.addEventListener('mouseover', () => {
      backImage.querySelector('.city-name').classList.remove('hidden');
    });

    backImage.addEventListener('mouseout', () => {
      backImage.querySelector('.city-name').classList.add('hidden');
    });
  });
</script>
