
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://w0.peakpx.com/wallpaper/18/445/HD-wallpaper-manhattan-beach-sunset-city-water-usa-trees-street-sea.jpg);">
  <div class="container-fluid">
    <h1>View <strong>flats to rent</strong> for your <strong>perfect holiday!</strong></h1>
  </div>
</div>

<div class="index-container">
  <div class="grid-list">
    <% @flats.each do |flat| %>
      <% if flat.photo.present? %>
       <%= link_to flat_path(flat) do%>
        <div class="back_images" style="background-image: url('<%= cl_image_path flat.photo.key %>')">
        </div>
        <% end %>
      <% else %>
        <%= link_to flat_path(flat) do %>
        <div class="back_images" style="background-image: url('<%= image_path "logo.png" %>')">
         </div>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="container mt-4">

<hr>
<%= link_to "Create a flat", new_flat_path, class: "m-0 btn_red" %>
<hr>
<%= link_to "See your flats",my_flats_path, class: "m-0 btn_red" %>
</div>
