
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/23/05/d8/2305d86c1cd243e640ca96131dc5c765.jpg);">
  <div class="container"style="margin-top: -20px;">
    <h1><strong>My flats</strong></h1>
  </div>
</div>


<div class="container ">
  <div class="row justify-content-center ">
    <div class="col-md-4 border p-4 mt-3">
      <h3 class="mb-4" >Here are your flats :</h3>


        <ol class="text" >
          <% @flats.each do |flat| %>
          <div class=" d-flex align-items-start ">
            <li class="mb-3">
            <%# <%= link_to "#{flat.address}, #{flat.city}", flat_path(flat), style: "text-decoration: none", class: "text-dark"%>
            <%= link_to flat_path(flat), style: "text-decoration: none", class: "text-dark" do %>
              <%= flat.address  %>
              <%= ","%>
              <strong> <%= flat.city %> </strong>
            <% end %>
            </li>
          </div>
          <% end %>
        </ol>
    </div>
  </div>
</div>



