<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM32REJBZ5sim-YAfjnpA4MmMM_aY0p-5O0kBlIvX0_vqUsE6-fejvWfg36ZOLyUIgpAk&usqp=CAU);">
  <div class="container"style="margin-top: -20px;">
    <h1> Time to travel, rent out your flat</h1>
  </div>
</div>

<div class=" border-dark p-2 mx-auto mb-4" style="max-width: 400px; ">
  <p class="text-center fw-bold border border-dark p-3 m-0" > Rent your flat, become rich </p>
</div>






<div class="container d-flex justify-content-center align-items-center vh-50">

  <%= simple_form_for(@flat) do |f| %>

  <div class="mb-3">
     <%= f.input :address, label_html: { class: "form-label required" } %>
  </div>

  <div class="row">

    <div class="col-md-6 mb-3">
       <%= f.input :description, label_html: { class: "form-label required" } %>
    </div>

     <div class="col-md-6 mb-3">
      <%= f.input :city, label_html: { class: "form-label required" } %>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.input :price_per_day, label_html: { class: "form-label required" }%>
   </div>

     <div class="col-md-6 mb-3">
       <%= f.input :guests_allowed, label_html: { class: "form-label required" } %>
      </div>
  </div>

  <div class="mb-3">
    <%= f.input :photo, as: :file %>
  </div>

  <%= f.submit class:" m-3 btn btn-dark m-2" %>

  <% end %>
  
</div>
