
<h2><%= @flat.description %></h2>

  <%= @flat.address %>
  <p>
  <%= @flat.price_per_day %>
  </p>
  <%= @flat.availability %>
  <p>
  <%= @flat.photos_id %>
  </p>
  <div class="card-category"   style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @flat.photo.key, height: 300, crop: :fill %>')"></div>
  <%= link_to "Delete", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <hr>

<p>
<%=  link_to "Go back to Home page", flats_path%>
</p>
