
<h1 class="display-4"><%= @flat.description %></h1>
<p class="display-6"><%= @flat.address %></p>
<p> Price per day : <%= @flat.price_per_day %></p>
<p>Guests allowed : <%= @flat.guests_allowed %></p>


<div>
<% if @flat.photo.present? %>
  <div class="user_flat_images" style="background-image: url('<%= cl_image_path @flat.photo.key, height: 300, crop: :fill %>')"></div>
<% end %>
  <hr>
</div>


<%= link_to "Delete Listing", flat_path(@flat), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<hr>


<%=  link_to "Back to Home", flats_path, class: "btn btn-primary"%>
<hr>
