<h1> bookings list here later</h1>


<div class="container">
  <ul>
    <% @bookings.each do |booking| %>
     <%= link_to "Your current booking", flat_booking_path(booking.flat, booking) %>
     <%= booking.flat.address %></strong></p>
        Start date: </strong><%= booking.start_date %></p>
        End date: </strong><%= booking.end_date %></p>

    </ul>
    <%= link_to "Delete Booking", booking_path(booking), class: "btn btn-dark m-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>


<%=  link_to "Go back to Home page", flats_path, class: "btn_red" %>
