<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.vecteezy.com/system/resources/previews/002/422/814/large_2x/spacious-kitchen-and-dining-room-interior-design-flat-free-vector.jpg);">
  <div class="container"style="margin-top: -20px;">
    <h1><strong>My bookings</strong><strong></strong></h1>
  </div>
</div>


<div class="container">
  <ul>
    <% @bookings.each do |booking| %>
     <%= link_to "Your current booking", flat_booking_path(booking.flat, booking) %>
     <%= booking.flat.address %></strong></p>
        Start date: </strong><%= booking.start_date %></p>
        End date: </strong><%= booking.end_date %></p>

    </ul>
    <%= link_to "Delete Booking", booking_path(booking), class: "btn btn-dark m-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>


<%=  link_to "Go back to Home page", flats_path, class: "btn_red" %>
