<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://clipground.com/images/clip-art-kitchen-4.jpg);">
  <div class="container"style="margin-top: -20px;">
    <h1><strong>Create a new booking</strong><strong></strong></h1>
  </div>
</div>

<div class="container d-flex justify-content-center vh-50 mt-4 ">
  <%= simple_form_for [@flat, @booking] do |f| %>
    <div , class="mt-5 " >
      <%= f.input :start_date, html5: true %>
    </div>
    <div class="mt-5 mb-4">
     <%= f.input :end_date, html5: true%>
    </div>
    <%= f.submit class: "m-3 btn btn-dark m-2" %>
    <% end %>
</div>

  <%= link_to "See your bookings", my_bookings_path, class: "m-3 btn btn-dark m-2" %>
