


<h1>Create a new booking</h1>

<%= simple_form_for [@flat, @booking] do |f| %>
  <%= f.input :start_date, html5: true %>
  <%= f.input :end_date, html5: true %>

  <%= f.submit class:"btn_red" %>

<% end %>




<%=  link_to "Go back to Home page", flats_path, class: "btn_red" %>
