<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom " style="margin-bottom: 0">
  <div class="container-fluid">
    <%= link_to flats_path, class: "navbar-brand" do %>
      <%= image_tag "https://logopond.com/logos/5d50b7e780862243f64312c7c282e654.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
      <div class="row justify-content-center">
        <div class="col-sm-8 w-100">
            <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
                <div class="map-auto-complete" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
                <%= text_field_tag :query,
                      params[:query],
                      class: "form-control d-none",
                      placeholder: "Enter a city to search in",
                      data: {address_autocomplete_target:"address"}
                  %>
                </div>
              <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active me-4">
            <%= link_to "Home", flats_path, class: "btn btn-outline-dark m-2 btn-rounded ms-4" %>
          </li>
          <li class="nav-item me-4">
            <%= link_to "Create a flat", new_flat_path, class: "btn btn-outline-dark m-2 btn-rounded ms-4" %>
          </li>
          <li class="nav-item me-4">
            <%= link_to "My flats", my_flats_path, class: "btn btn-outline-dark m-2 btn-rounded ms-4" %>
          </li>
          <li class="nav-item me-4">
          <%= link_to "My bookings", my_bookings_path, class: "btn btn-outline-dark m-2 btn-rounded ms-4" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
